<?xml version="1.0"?>
<launch>
    <include file="$(find wheelchair_iaslab_sensors)/launch/sensors_setup.launch"/>        <!-- initialize the sensors -->
    <include file="$(find wheelchair_iaslab_description)/launch/test_urdf_sensor.launch"/> <!-- initialize the TF (not sure) -->
    
    <include file="$(find wheelchair_iaslab_odometry)/launch/odometry.launch"/>

    <!-- <node pkg="ros_rnet_controller" type="rnet_controller" name="rnet_controller" />--> <!-- Controller normale -->
    <!--to substitute with the one of the raspi --> 
    <!-- <node pkg="ros_rnet_controller" type="rnet_controller" name="rnet_controller" /> -->
    
    <!-- <include file="$(find ros_rnet_node)/launch/serial_rnet.launch"/> --> <!-- Anita controller  -->
    
    <!-- <include file="$(find wheelchair_iaslab_navigation)/launch/mpc.launch"/> -->
    <include file="$(find wheelchair_iaslab_init)/launch/potential.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wheelchair_iaslab_sensors)/rviz/c.rviz" required="true"/>
    
</launch>
