<?xml version="1.0"?>
<launch>
  <!-- <node pkg="rosbag" type="record" args="-o /home/$(env USER)/data_planner /cmd_vel /odom /odometry/filtered" name="record" output="screen"/> -->
  <!-- <node pkg="rosbag" type="record" args="-o /home/$(env USER)/camera_cal /cmd_vel /odom /odometry/filtered /tf /tf_static  " name="record" output="screen"/>
  -->
  <node pkg="rosbag" type="record" args="-o /home/$(env USER)/yolo/yolo 
    /joy /cmd_vel /wcias_controller/odom /odometry/filtered /tag_detections /yolo/dgb_bb_markers
    /tf /tf_static /yolo_detected_objects_destination /move_base/current_goal  /rtabmap/odom
    /yolo_detected_objects_marker_array" name="record" output="screen"/>
</launch>
